{% extends "basic/layout.html" %}
{%- block sidebarsourcelink %}
{%- endblock %}
{%- block sidebarsearch %}
  {%- include"searchbox.html" %}
  {%- include"customsidebar.html" %}
{%- endblock %}

{% block footer %}
{{ super() }}
<!-- Piwik --> 
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://stats.firefly-it.de/" : "http://stats.firefly-it.de/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://stats.firefly-it.de/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->
{% endblock %}
